#header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgreen;
    color: white;
    position: sticky;
    top: 0;
}
#nav1{
   display: flex;
   flex-direction: row;
   gap: 100px;
   
    
}
#re{
    margin-bottom: 10rem;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.introduction{


}