#header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(123, 1, 1);
    color: white;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    height: 30%;
    z-index: 1000;
}
#footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(122, 0, 0);
    color: white;
    
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 3rem;
}
#nav1{
   display: flex;
   flex-direction: row;
   gap: 100px;
   z-index: 1000;
    
}
#re{
    margin-bottom: 10rem;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#e1{
    color: black;
    justify-content: center;
    justify-items: center;
    
}
#section2{
    display: flex;
 flex-direction: column;
justify-content: center;
  gap: 1rem;
}
#e2{
    width: 30%;
    height: 30%;
    
    
}
#main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
#background-mod{
    background-color: bisque\s;
}
#nav_lateral{
    position: relative;
    top: 0;
    right: 0;
    z-index: 9999;
    border: solid red;
    width: 20%;
}