#header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgreen;
    color: white;
    position: sticky;
    top: 0;
    align-items: center;
}
#nav1{
   display: flex;
   flex-direction: row;
   gap: 100px;
   
    
}
#re{
    margin-bottom: 10rem;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
  }
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#e1{
    color: black;
    justify-content: center;
    justify-items: center;
    
}
#section2{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
#e2{
    width: 30%;
    height: 30%;
    
    
}
#main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}